<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onionm.econsult">

    <application
        android:allowBackup="true"
        android:icon="@drawable/svg_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">     <!-- 切换到该Activity时，不执行 onCreate 和 onDestroy 方法 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginByUsernameActivity"
            android:label="@string/login_by_username"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/LoginTheme">
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>


        <!-- INQUIRY -->
        <activity
            android:name=".InquiryActivity"
            android:label="@string/title_inquiry">
        </activity>
        <activity
            android:name=".InquiryEndActivity"
            android:label="@string/end_of_consult">
        </activity>


        <activity
            android:name=".InquiryNowActivity"
            android:parentActivityName=".InquiryActivity"
            android:label="@string/inquiry_now">
        </activity>
        <activity
            android:name=".InquirySelectOnlineDoctorActivity"
            android:parentActivityName=".InquiryNowActivity"
            android:label="@string/inquiry_select_online_doctor">
        </activity>
        <activity
            android:name=".InquirySelectedOnlineDoctorActivity"
            android:parentActivityName=".InquirySelectOnlineDoctorActivity"
            android:label="@string/selected_online_physician">
        </activity>
        <activity
            android:name=".InquirySelectedOnlineDoctorVideoActivity"
            android:parentActivityName=".InquirySelectedOnlineDoctorActivity"
            android:label="@string/video_mode">
        </activity>
        <activity
            android:name=".InquirySelectedOnlineDoctorVoiceActivity"
            android:parentActivityName=".InquirySelectedOnlineDoctorActivity"
            android:label="@string/voice_mode">
        </activity>
        <activity
            android:name=".InquirySelectedOnlineDoctorWordActivity"
            android:parentActivityName=".InquirySelectedOnlineDoctorActivity"
            android:label="@string/word_mode">
        </activity>


        <activity
            android:name=".InquiryVisitActivity"
            android:parentActivityName=".MedicalRecordListActivity"
            android:label="@string/inquiry_visit">
        </activity>
        <activity
            android:name=".InquiryVisit2Activity"
            android:parentActivityName=".MedicalRecordListActivity"
            android:label="@string/inquiry_visit">
        </activity>


        <activity
            android:name=".InquiryMyDoctorActivity"
            android:parentActivityName=".InquiryActivity"
            android:label="@string/inquiry_my_doctor">
        </activity>
        <!-- END INQUIRY -->

        <activity
            android:name=".SolveBySelfActivity"
            android:label="@string/deal_with">
        </activity>
        <activity
            android:name=".PrescriptionActivity"
            android:parentActivityName=".MedicalRecordsActivity"
            android:label="@string/prescription">
        </activity>
        <activity
            android:name=".AppointmentDetectionActivity"
            android:parentActivityName=".MedicalRecordsActivity"
            android:label="@string/make_an_appointment_detection">
        </activity>
        <activity
            android:name=".DetectionActivity"
            android:parentActivityName=".AppointmentDetectionActivity"
            android:label="奥莲医疗检测中心">
        </activity>
        <activity
            android:name=".DetectionInfoActivity"
            android:parentActivityName=".DetectionActivity"
            android:label="预约详情">
        </activity>


        <activity
            android:name=".PayActivity"
            android:label="@string/payment_method">
        </activity>

        <activity
            android:name=".MedicalRecordListActivity"
            android:label="@string/medicine_recode_list">
        </activity>
        <activity
            android:name=".MedicalRecordsActivity"
            android:label="@string/view_records">
        </activity>


        <activity
            android:name=".MessageActivity"
            android:label="@string/title_message">
        </activity>




        <activity
            android:name=".DiscoveryActivity"
            android:label="@string/title_discovery">
        </activity>




        <activity
            android:name=".MyActivity"
            android:label="@string/title_my">
        </activity>





    </application>

</manifest>