<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.onionm.econsult">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">     <!-- 切换到该Activity时，不执行 onCreate 和 onDestroy 方法 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginByUsernameActivity"
            android:label="@string/login_by_username"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/LoginTheme">
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:label="注册账号"
            android:parentActivityName=".LoginByUsernameActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".Register2Activity"
            android:label="注册账号"
            android:parentActivityName=".RegisterActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".Register3Activity"
            android:label="注册成功"
            android:parentActivityName=".Register2Activity"
            android:launchMode="singleTop">
        </activity>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
        </activity>


        <!-- INQUIRY -->
        <activity
            android:name=".InquiryActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".InquiryEndActivity"
            android:label="@string/end_of_consult">
        </activity>


        <activity
            android:name=".InquiryNowActivity"
            android:parentActivityName=".InquiryHumanBodyInfoActivity"
            android:label="病患部位具体描述"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".InquirySelectOnlineDoctorActivity"
            android:parentActivityName=".InquiryNowActivity"
            android:label="@string/inquiry_select_online_doctor"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".InquirySelectedOnlineDoctorActivity"
            android:parentActivityName=".InquirySelectOnlineDoctorActivity"
            android:label="@string/selected_online_physician"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".InquirySelectedOnlineDoctorVideoActivity"
            android:parentActivityName=".InquirySelectedOnlineDoctorActivity"
            android:label="@string/video_mode"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".InquirySelectedOnlineDoctorVoiceActivity"
            android:parentActivityName=".InquirySelectedOnlineDoctorActivity"
            android:label="@string/voice_mode"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".InquirySelectedOnlineDoctorWordActivity"
            android:parentActivityName=".InquirySelectedOnlineDoctorActivity"
            android:label="@string/word_mode"
            android:launchMode="singleTop">
        </activity>


        <activity
            android:name=".InquiryVisitActivity"
            android:parentActivityName=".MedicalRecordListActivity"
            android:label="@string/inquiry_visit"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".InquiryVisit2Activity"
            android:parentActivityName=".MedicalRecordListActivity"
            android:label="@string/inquiry_visit"
            android:launchMode="singleTop">
        </activity>


        <activity
            android:name=".InquiryMyDoctorActivity"
            android:parentActivityName=".InquiryActivity"
            android:label="@string/inquiry_my_doctor"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".InquiryMyDoctorSigningActivity"
            android:parentActivityName=".InquiryMyDoctorActivity"
            android:label="签约我的家庭医生"
            android:launchMode="singleTop">
        </activity>


        <activity
            android:name=".InquiryHumanBodyActivity"
            android:parentActivityName=".InquiryActivity"
            android:label="选择病患部位"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".InquiryHumanBodyInfoActivity"
            android:parentActivityName=".InquiryHumanBodyActivity"
            android:label="选择具体的病患部位"
            android:launchMode="singleTop">
        </activity>

        <!-- END INQUIRY -->

        <activity
            android:name=".SolveBySelfActivity"
            android:label="@string/deal_with">
        </activity>
        <activity
            android:name=".PrescriptionActivity"
            android:parentActivityName=".MedicalRecordsActivity"
            android:launchMode="singleTop"
            android:label="@string/prescription">
        </activity>
        <activity
            android:name=".AppointmentDetectionActivity"
            android:parentActivityName=".MedicalRecordsActivity"
            android:label="@string/make_an_appointment_detection"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".DetectionActivity"
            android:parentActivityName=".AppointmentDetectionActivity"
            android:label="奥莲医疗检测中心"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".DetectionInfoActivity"
            android:parentActivityName=".DetectionActivity"
            android:label="预约详情">
        </activity>


        <activity
            android:name=".PayActivity"
            android:label="@string/payment_method">
        </activity>

        <activity
            android:name=".MedicalRecordListActivity"
            android:label="复诊"
            android:parentActivityName=".InquiryActivity"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".MedicalRecordsActivity"
            android:parentActivityName=".MedicalRecordListActivity"
            android:label="@string/view_records">
        </activity>
        <activity
            android:name=".InquiryVisitTmp1Activity"
            android:label="立即咨询"
            android:parentActivityName=".MedicalRecordListActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".InquiryVisitTmp2Activity"
            android:label="立即咨询"
            android:parentActivityName=".MedicalRecordListActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".InquiryVisitTmp3Activity"
            android:label="立即咨询"
            android:parentActivityName=".MedicalRecordListActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".InquiryVisitTmp4Activity"
            android:label="立即咨询"
            android:parentActivityName=".MedicalRecordListActivity"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".MessageActivity"
            android:label="@string/title_message">
        </activity>




        <activity
            android:name=".DiscoveryActivity"
            android:label="@string/title_discovery">
        </activity>
        <activity
            android:name=".DiscoveryDoctorLiveActivity"
            android:label="医生直播"
            android:parentActivityName=".InquiryActivity"
            android:launchMode="singleTop">
        </activity>



        <activity
            android:name=".MyActivity"
            android:label="@string/title_my">
        </activity>





    </application>

</manifest>